
.spyproject/

__pycache__/

show_img/

pkl/

test_func.py

result/

ISIC_2019_Test_Input/

dataset.py

sample/

data/

resnet18_lifting.txt

resnet18.txt

resnet50_lifting.txt

Fined-Grain-Model.txt

Fined-Grain-Model2.txt

lifting.txt

mobilenet_v2_LDW.txt

mobilenet_v2.txt
